<%= simple_form_for [@grade.test.course, @grade.test, @grade] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :grade %>
    <%= f.association :student, collection: @students %>
    <%= f.association :test %>
  </div>

  <div class="form-actions">
    <%= f.button :submit ,"Aceptar", class: 'btn btn-success'%>
  </div>
<% end %>
