<p id="notice"><%= notice %></p>

<h1>Notas</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nota</th>
      <th>Estudiante</th>
      <th>Evaluación</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td><%= grade.grade %></td>
        <td><%= grade.student %></td>
        <td><%= grade.test %></td>
        <td><%= link_to 'Ver', course_test_grade_path(grade.test.course,grade.test, grade) %></td>
        <td><%= link_to 'Editar', edit_course_test_grade_path(grade.test.course, grade.test,grade) %></td>
        <td><%= link_to 'Borrar',  course_test_grade_path(grade.test.course,grade.test, grade), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grade', new_course_test_grade_path , class: 'btn btn-primary' %>
