<p id="notice"><%= notice %></p>

<h1>Notas "<%= @test %>"</h1>
<% if (@grades.length > 0) %>

<div class="row">
  <div class="col">
    <h4><%= @test.approvedPercentage %>% Aprobados <span class="badge badge-success"><%= @test.approvedAmount %></span></h4>
  </div>
  <div class="col">
    <h4>Desaprobados <span class="badge badge-danger"><%= @test.disapprovedAmount %></span></h4>
  </div>
  <div class="col">
    <h4>Ausentes <span class="badge badge-secondary"><%= @test.absentAmount %></span></h4>
  </div>
</div>
<div class="row">
<table class="table">
  <thead>
    <tr>
      <th colspan="2">Nota</th>
      <th>Estudiante</th>
      <th colspan="2">Operaciones</th>
    </tr>
  </thead>

  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td><%= grade.grade %></td>
        <td>
          <% if (grade.approved?) %>
            <span class="text-success">Aprobado</span>
          <% elsif (grade.absent?) %>
           <span class="text-secondary">Ausente</span>
           <% else %> 
           <span class="text-danger">Desaprobado</span>
          <% end %>
        </td>
        <td><%= grade.student %></td>
      
        <td><%= link_to 'Editar', edit_course_test_grade_path(grade.test.course, grade.test,grade) %></td>
        <td><%= link_to 'Borrar',  course_test_grade_path(grade.test.course,grade.test, grade), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
<% else %>
<h3> No hay notas cargadas</h3>
<% end %>
<br>

<%= link_to 'Cargar Nota', new_course_test_grade_path , class: 'btn btn-primary' %>
