<p id="notice"><%= notice %></p>

<h1>Notas "<%= @test %>"</h1>
<% if (@grades.length > 0) %>

<table class="table">
  <thead>
    <tr>
      <th colspan="2">Nota</th>
      <th>Estudiante</th>
      <th colspan="3">Operaciones</th>
    </tr>
  </thead>

  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td><%= grade.grade %></td>
        <td>
          <% if (grade.grade >= grade.test.minimum_grade) %>
            <span class="text-success">Aprobado</span>
          <% else %>
            <span class="text-danger">Desaprobado</span>
          <% end %>
        </td>
        <td><%= grade.student %></td>
        <td><%= link_to 'Ver', course_test_grade_path(grade.test.course,grade.test, grade) %></td>
        <td><%= link_to 'Editar', edit_course_test_grade_path(grade.test.course, grade.test,grade) %></td>
        <td><%= link_to 'Borrar',  course_test_grade_path(grade.test.course,grade.test, grade), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<h3> No hay notas cargadas</h3>
<% end %>

<br>

<%= link_to 'Cargar Nota', new_course_test_grade_path , class: 'btn btn-primary' %>
