<p id="notice"><%= notice %></p>

<p>
  <strong>Grade:</strong>
  <%= @grade.grade %>
</p>

<p>
  <strong>Student:</strong>
  <%= @grade.student %>
</p>

<p>
  <strong>Test:</strong>
  <%= @grade.test %>
</p>

<%= link_to 'Edit', edit_course_test_grade_path(@grade.test.course,@grade.test,@grade) %> |
<%= link_to 'Back', course_test_grades_path %>
