<p id="notice"><%= notice %></p>

<h1><%= @title %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Legajo</th>
      <th>Documento</th>
      <th colspan="3">Operaciones</th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.lastname %></td>
        <td><%= student.email %></td>
        <td><%= student.legajo %></td>
        <td><%= student.doc %></td>
        <td><%= link_to 'Ver', student, class: 'btn btn-sm btn-outline-primary' %></td>
        <td><%= link_to 'Editar', edit_student_path(student) , class: 'btn btn-sm btn-outline-primary' %></td>
        <td><%= link_to 'Borrar', student, method: :delete, data: { confirm: '¿Estás seguro de borrar al estudiante?' } , class: 'btn btn-sm btn-outline-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar Estudiante', new_student_path, class: "btn btn-primary"%>
