<div class="row justify-content-center ">

<div class="col-6 bg-light">
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @student.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Legajo:</strong>
  <%= @student.legajo %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @student.doc %>
</p>

<p>
  <strong>Cursos:</strong>
  <% @student.courses.each do |c| %>
    <%= c.year %>
  <% end %>
</p>
<%= link_to 'Editar', edit_student_path(@student) %> |
<%= link_to 'Volver', students_path %>
</div>
</div>