<p id="notice"><%= notice %></p>

<h1>Cursada <%= @course %></h1>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Estudiante</th>
      <% @tests.each do |t| %>
        <th><%= t %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |s| %>
      <tr>
        <td><%= s %></td>
        <% s.allGradesFromCourse(@course).each do |g| %>
        <td><%= g.grade %> 
          <% if (g.approved?) %>
            <span class="text-success">Aprobado</span>
          <% elsif (g.absent?) %>
           <span class="text-secondary">Ausente</span>
           <% else %> 
           <span class="text-danger">Desaprobado</span>
          <% end %>
        </td>
        <% end %>
      </tr>
     <% end %> 

        <tr class="table-success"> 
          <td>Aprobados</td>
      <% @tests.each do |t| %>
          <td><span class="badge badge-secondary"><%= t.approvedPercentage %>% </span> <span class="badge badge-success"><%= t.approvedAmount %> total</span>
          </td>
      <% end %>
      </tr>
      <tr  class="table-danger"> 
      <td>Desaprobados</td>
      <% @tests.each do |t| %>
        <td>
        <span class="badge badge-secondary"><%= t.disapprovedPercentage %>% </span> <span class="badge badge-danger"><%= t.disapprovedAmount %> total </span>
        </td>
         <% end %>
       </tr>
        <tr  class="table-secondary">
          <td>Ausentes</td>
        <% @tests.each do |t| %>

        <td><span class="badge badge-secondary"><%= t.absentPercentage %>% </span> <span class="badge badge-secondary"><%= t.absentAmount %> total </span>
        </td>
                 <% end %>

     </tr>
      
  </tbody>
</table>


