<p id="notice"><%= notice %></p>

<h1>Cursadas</h1>
<% if (@courses.length > 0) %>
<table class="table">
  <thead>
    <tr>
      <th>Año</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.year %></td>
        <td><%= link_to 'Ver', course %></td>
        <td><%= link_to 'Editar', edit_course_path(course) %></td>
        <td><%= link_to 'Borrar', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Evaluaciones', course_tests_path(course), method: :get %></td>
        <td><%= link_to 'Inscripciones', students_path(course), method: :get %></td>

      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<h3> Por favor creá una nueva cursada.</h3>
<% end %>
<br>

<%= link_to 'Agregar Cursada', new_course_path, class: "btn btn-primary" %>

