<p id="notice"><%= notice %></p>

<h1>Evaluaciones de cursada <%= @curso %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Descripción</th>
      <th>Fecha</th>
      <th>Nota Mínima</th>
      <th>Cursada</th>
      <th colspan="3">Operaciones</th>
    </tr>
  </thead>

  <tbody>
    <% @tests.each do |test| %>
      <tr>
        <td><%= test.title %></td>
        <td><%= test.date %></td>
        <td><%= test.minimum_grade %></td>
        <td><%= test.course %></td>
        <td><%= link_to 'Ver', [test.course, test] %></td>
        <td><%= link_to 'Editar', edit_course_test_path(test.course,test) %></td>
        <td><%= link_to 'Borrar', [test.course,test], method: :delete, data: { confirm: '¿Estás seguro de borrar la evaluación?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Evaluación', new_course_test_path,  class: "btn btn-primary"%>
